<h1>Edit User</h1>

<%= form_with model: @user, local: true do |f| %>

    <% if @user.errors.any?%>
        <p>
            <%= @user.errors.full_messages.join(', ')%>
        </p>
    <% end %>


    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>


    <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
    </div>

    <%= f.submit "Edit User", class: "btn btn-primary" %>
    <% end %>