
<% if @post.errors.any? %>

  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @post do |f| %>
  <div class="col-xs-4">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <br>
  <div class="col-xs-4">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit class: "btn btn-primary" %>
<% end %>