<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<p><%= time_ago_in_words(@post.created_at)%> ago</p>
<h4>Created by: <%= @post.user.name  || 'DELETED'%></h4>
<% if can? :crud, @post %>
<%= link_to "Edit", edit_post_path(@post), class: "btn-med"%>
<%= link_to "Delete", post_path(@post), class: "btn-med", method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<%= form_with(model: [@post, @comment], local: true) do |f| %>
<% if @comment.errors.any? %>
<br>
  <ul>
    <% @comment.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<br>
<div class="form-group">
  <%= f.text_area(
  :body,
  cols: 50,
  rows: 5,
  placeholder: "What are your thoughts?",
  class: "form-control"
  ) %>
</div>
<%= f.submit class: "btn-med" %>
<% end %>

<hr />

<ul class="list-group">
  <% @comments.each do |comment| %>
    <li>
      <p class="list-group-item">
        <%= comment.body %> <br />
         Commented <%= time_ago_in_words(comment.created_at) %> ago
        </small>
        â—
        <% if can? :crud, comment %>
        <small>
        <%= link_to(
          "Delete",
          post_comment_path(@post, comment),
          method: :delete,
          data: {
            confirm: "Are you sure?"
          }
        ) %>
      </small>
      <% end %>
      </p>
    </li>
  <% end %>
</ul>