<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <nav>
  <div class="branding">
  <%= link_to "Blog on Rails", root_path %>
  </div>
  

  <div class="menu">
    <%= link_to "Home", root_path %>
    &emsp;
    <%= link_to 'New Post', new_post_path %>
    &emsp;
    <% flash.each do |type, message| %>
      <div class="flash flash-<%= type %>">
        <%= message %>
      </div>
    <% end %>
    <%#= flash[:notice] || flash[:alert] %>
      <% if user_signed_in?%>
        Hello <%= link_to current_user.name, edit_user_path(current_user) %>,
        <%= link_to "Logout", session_path, method: :delete,
        data: {confirm: "Are you sure you want to log out?"}%>
      <%else%>
        <%= link_to "Login", new_session_path %> &emsp;
        <%= link_to "Sign Up", new_user_path %>
      <% end %>
    </div>

  </nav>
  <hr>

    <%= yield %>
  </body>
</html>
